{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form action="{% url 'save_new_business' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="title">Business Name</label>
            <input type="text" class="form-control" value="" name="name" required>
        </div>
        <div class="form-group mb-3">
            <label for="title">Business Email</label>
            <input type="email" class="form-control" value="" name="email" required>
        </div>
     
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                name="description"></textarea>
        </div>
            <button type="submit" class="btn btn-success mt-4">Save Business</button>
    </form>
    </div>
{% endblock content %}